*{
   margin:0;
   padding:0;
}

body{
   text-align:center; 
}

#wrapper {
   width:1260px;
   margin:0 auto;
   text-align:left;
   margin-top: 5px;
   /* border: 1px solid #000; */
}

.nav li a {
	padding: 15px!important;
}

.nav-tabs li a{
	border-radius: 4px 13px 0 0!important;
}

.navbar-text {
   margin-top: 6px!important;
}

.divider {
   margin-top: 15px;
   padding: 2px 2px 2px 2px;
}

.panel-footer {
   padding: 10px 0px!important;
}

.chatBox {
   height:500px;
}

.banner{
   margin-top: 1px;
   padding-left: 10px;
   width: inherit;
   height: 200px;
   background: #e2e2e2;
}

.page-header {
   border-bottom:0px!important;
}

.left-box{
   width: 80%;
   height: 500px;
}
.right-box{
   width: 18%;
   height: 500px;   
}

.margin-top{
   margin-top: 10px;
}

.box-left {  
   margin: 9px 8px 0;
   height: 475px !important;
   overflow-y: scroll;
}

.box-right {  
   margin: 9px 8px 0;
   height: 434px !important;
   overflow-y: scroll;
}