<!doctype html>
<html>
<head>
	<title>Welcome to Online Trivia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="wrapper">		
			<div class="panel panel-danger">
				<div class="panel-heading" id="headPanel">
					<h3 class="panel-title">Error on requested page</h3>
				</div>
				<div class="panel-body">
					<p><%=title%> <a href="/">Back to home</a></p>
				</div>
			</div>
	</div>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>