<html>
<head>
	<title>Welcome to Online Trivia</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>

</body>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</html>